<div class="contenedor">

  <h1>Evaluación de datasets CSV</h1>

  <input
    type="file"
    accept=".csv"
    (change)="onFileSelected($event)"
  />

  @if (resultado) {

    <div class="resultado">

      <h2>Resultado del análisis</h2>

      <!-- Información del dataset -->
      <section class="bloque">
        <h3>Información del dataset</h3>

        <p><strong>Filas:</strong> {{ resultado.filas }}</p>
        <p><strong>Columnas:</strong> {{ resultado.columnas }}</p>
      </section>

      <!-- Columnas -->
      <section class="bloque">
        <h3>Columnas</h3>

        @for (col of resultado.columnas_nombres; track col) {
          <div class="columna">
            {{ col }}
          </div>
        }

      </section>

    </div>

  }

</div>